<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Game Souvenirs</title>
    <link rel="stylesheet" href="@Href("~/JockesWebbshop.css")" type="text/css" />
</head>
<body>
    <header>

    </header>
</body>
</html>
