@{
    WebSecurity.Logout();
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="@Href("~/JockesWebshop.css")" type="texxt/css" />
    <title>Logout</title>
</head>
<body>
    <h1>You are logged out</h1>
    <p><a href="@Href("~/Home")">Return to Home page</a></p>

</body>
</html>
